# backend/.gitignore --> Now just .gitignore in the root

# Python / Backend
backend/venv/
backend/*.pyc
backend/__pycache__/
backend/.env*
backend/*.env

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Database files
backend/sql_app.db

# Node / Frontend (Add later when you create the frontend)
# frontend/node_modules/
# frontend/.env*
# frontend/build/
# frontend/public/build/
# frontend/.cache/